*{padding: 0;margin: 0}
body {
    text-align: center;
    background-color: #3d4444;
}
#main{
    position: relative;
    width: 920px;
    margin: 100px auto 50px;
    height: 680px;
    background-color: #000000;
    border-radius: 50%/6.5%;
}
#main::before{
    content: "";
    position: absolute;
    top: 5.6%;
    bottom: 5.6%;
    left: -8.5%;
    right: -8.5%;
    border-radius: 8.1%/50%;
    background-color: #000;
}
#myCanvas{
    display: inline-block;
    width: 505px;
    height: 606px;
}
#container{
    position: relative;
    padding: 50px 0 0 0;
    color: #c2ffad;
}
.game{
    position: static;
    display: inline-block;
    width: 545px;
    height: 606px;
}
.game-holder{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -20px;
}
.start-btn, .over-btn, .success-btn{
    position: absolute;
    left: 93%;
    bottom: 10%;
    width: 160px;
    margin-left: 55px;
    padding: 20px 0;
    border: none;
    background-color: #c2ffad;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.score{
    position: absolute;
    left: -32%;
    top: 13%;
    width: 30%;
    font-size: 22px;
    font-weight: bold;
}
.score-num{
    font-size: 30px;
}
.heart-msg{
    margin-top: 15%;
}
.heart-num{
    display: inline-block;
}
.heart-num ul{
    display: flex;
    list-style: none;
}
.heart-num ul li{
    width: 30%;
}
.heart-num ul li img{
    width: 100%;
}
.over,.success{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
}
.over-msg,.success-msg{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -24px;
    font-size: 34px;
}
.player-select{
    position: absolute;
    top: 35%;
    left: 4%;
    background: rgba(0,0,0,0.4);
}
.player-select ul{
    display: flex;
    list-style: none;
}
.instruction-msg{
    position: absolute;
    top: 15%;
    margin: 0 40px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
}
.disappear{
    display: none;
}
.instruction-main{
    padding: 0 20px;
}
.title{
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
}
.rule{
    text-indent: 2em;
    text-align: left !important;
    font-size: 18px;
}
.rule ul{
    margin: 0 0 0 20px;
}
.instruction-main a{
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 15px 12px;
    width: 100px;
    color: black;
    background-color: #c2ffad;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
}
.playerConfirm{
    display: inline-block;
    margin-top: 150px;
    padding: 15px 12px;
    width: 100px;
    color: black;
    background-color: #c2ffad;
    font-weight: bolder;
    font-size: 20px;
}
.player{
    position: absolute;
    right: 0.7%;
    top: 20%;
    border: 1px solid #c2ffad;
    cursor: hand;
}
.player p{
    padding: 15px 10px;
    font-size: 22px;
    font-weight: bold;
}

.instructions{
    position: absolute;
    bottom: 15%;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.instructions a{
    padding: 20px 12px;
    cursor: hand;
    background-color: #c2ffad;
}
.instructions i{
    color: #000;
}
.instructions span{
    text-transform: uppercase;
}
.heart-num{
    width: 163px;
}